/* ======== Home style ========= */

/* .carousel{
    position: relative;
}
.carousel-slide{
    display: none;
}
.carousel-slide--selected{
    display: block;
}
.carousel-nav{
    /* background: #ffbd39; */
   /* width: 100%;
    overflow: hidden;
    padding: 10px 0px;
    text-align: center;
}
.carousel-indicator{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.carousel-indicator--selected{
    background: #ffbd39;
}
.home-content{
    margin: 250px 100px 0px 100px;
    width: 100%;
}
.home-img{
    margin: 150px 100px 0px 100px;
}
.home{
    display: flex;
    justify-content: space-between;  
}
.home-content  h6, span{
    color: #ffbd39;
}
.home-content h6{
    text-transform: uppercase;
    letter-spacing: 10px;
}
.home-content h1{
    
    height: auto;
    font-size: 60px;
    font-weight: bolder;
}
.home-img{
    position: relative;
    height: 100%;
    width: 950px;
    top: -20px;
    right: 90px;
}
.home-img img{
    width:100%;  
}
.home-content button{
    border-radius:50px;
    justify-content: center;
    align-items: center;
    padding:  20px 30px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit; 
    font-weight: 500;
}
.home-content .light{
    background-color: #ffbd39;
    border: 1px solid #ffbd39;
}
.home-content .dark{
    border: 1px solid aliceblue;
    background: transparent;
    color: #fff;
}
.color-mode.dark{
    background: transparent;
}
.btn{
    flex-direction: column;
    display: flex;
} */

/* ===== not part of initial design ====== */

/* element.style {
    background-image: url(images/bg_1.png);
    height: 231px;
}
.owl-carousel.home-slider .slider-item .slider-text .one-third {
    width: 60%;
    position: relative;
    z-index: -1;
}
.img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */



.about{
    margin:30px 30px 0 30px;
    line-height: 1.8;
    height: 150vh;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    position: relative;
}
.about .about-session{
    background: url(images/Ronke-portifolio-img.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top 10px left 150px;
    z-index: -1;
    display: flex;
    flex-direction: row-reverse;
    animation: slide 2s ease;
}

.about .about-caption{
    position: relative;
    width: 100%;
    padding: 0 55px;
}

.about .big{
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    font-weight: 900;
    margin-top: 0px;
    /* padding-left: 10px; */
    margin-bottom: 0.5rem;
}
.about .small{
    font-size: 45px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    /* padding-left: 25px; */
}
.about p{
    /* margin-top: -12px; */
    margin-bottom: 1rem;
    /* padding-left: 15px; */
    color: #999;
}
.about-caption > ul{
    margin-top: 10px;
}
.about-caption >ul>li{
    display: flex;
    /* padding-left: 15px; */
    margin-top: 5px;
    width: calc(100% -130px);
}
.about-caption >ul>li > span.value{
    margin-bottom: 15px;
    color: #999;
}
.about-caption >ul>li > span.question{
    height: auto;
    width: 130px;
}
.my-cv{
margin-top: 30px;
}
.my-cv >p>span.number{
    color: #ffbd39;
    font-size: 600;
}
.my-cv > p>span{
    color: #fff;
}

.my-cv a{
    display: inline-block;
    text-decoration: none;
    border: 1px none solid;
    border-radius: 50px;
    letter-spacing: 3px;
    padding: 20px 25px;
    /* margin-left: 15px; */
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit; 
    font-weight: 600;
    color: #000;
    background-color: #ffbd39;
}


/* ======== Resume style ========= */
.detailed-resume{
    margin: 10px 30px;
    position: relative;
}
  
.resume{
    padding: 0 55px;
}
.resume .heading{
    padding: 0 30px;
    padding-bottom: 20px;
    /* margin-right: -19px;
    margin-left: -19px; */
}
.resume .big{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
}
.resume .small{
    position: relative;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 1.5rem;
}
.resume p{
    text-align: center;
}





/* ----------- Media Query ----------- */

/* ======= NAVBAR MEDIA QUERY ======= */
@media (max-width: 1200px) {
    .navbar-list li{
        margin: 0px 10px;
    }
    nav .navbar-header{
        padding: 15px 20px;
    }
    .home .slide{
        padding: 20px 55px;
    }
    .about .about-container{
        
    }
    .about .about-caption{
   
    }
}
@media (max-width: 1100px) {
    .navbar-list li{
        margin: 0px 5px;
    }
    nav .navbar-header{
        padding: 15px 10px;
    }
    .about .about-session{
        background-position: top 10px left 1px;
    }
    .about .about-container{
        width: 450px;
    }
}

@media (max-width: 998px) {
    .navbar-header .toggle-btn{
        display: flex;
        position: absolute;
        top: 1rem;
        right: 60px;
    }
    .navbar-header .navbar-list{
        display: none;
    }
    .navbar-header .navbar-list.open{
        display: flex;
    }
     .navbar-header{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-list,.brand-logo{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 50px;
    } 
    .brand-logo{
        /* padding-top: 20px; */
    } 
     .navbar-list li{
        margin-left: 0;
        padding-left: 0;
        padding-top: 30px;
    }
    .mode-btn{
        width: 80%;
        align-self: flex-start;
        border-top: #ffbd39;
        border-radius: 10px 10px 60px 10px;
    } 
    .navbar-header .mode-btn {
    padding: 10px 0;
    }
    .container{
        margin: 100px auto 0px;
    }
    .home .slide{
        background-position: center top 50px;
        text-align: center;
    }
    .home .caption{
        width: 100%;
    }

    .home .caption h1{
        font-size: 50px;
    }
    .about .about-container{
        width: 450px;
        /* padding: 0 5px 8px 8px; */
    }
}
@media screen and (max-width: 908) {
    .about .about-session{
        display: flex;
        flex: 0 0 100%;
        width: 55%;
        height: 55%;
    }
    .about .about-caption{
        width: 500px;
        margin-left: -250px;
        /* padding-left:88px; */
    }
}
@media screen and (max-width: 768px) {
    .about .about-session{
        background: none;
        flex-direction: row;
        justify-content: center;
    }
    .about .small{
    font-size: 35px;
    }
}
@media (max-width: 400px){
    .home .slide{
        background-position: center top 80px;
        text-align: center;
    }
    .container{
        margin: 100px auto 0px;
    }
    .home .caption h1{
        font-size: 40px;
    }

    .home .caption a{
        font-size: 10px;
        padding: 10px 25px;
        margin: 5px 0px 5px 0px;
    }
}

@media (max-width: 300px) {
    .container{
        margin: 100px auto 0px;
    }
    .home .caption h1{
        font-size: 20px;
    }
    .home .caption a{
        font-size: 8px;
        margin-top: 10px;
    }
}
/* ======= MEDIA QUERY ========== */
@media (max-width: 800px) {
 
}
@media (max-width: 750px) {

}



/* ======= Body style ==============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html, body{
    font-family: 'Solway', serif;
    /* background: #000; */
    color: #000;
    font-size: 20px;
    width: 100%;
}
body.light{
    color: #fff;
    background: #000;
}
/* ======= Navbar style ============= */
nav .navbar-header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 50px;
    width: 100%;
    align-items: center;
    transition: all 1s;
    z-index: 999;
}

.brand-logo{
    text-transform: uppercase;
    text-decoration: none;
    color: white !important;
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 0 50px;
}
.navbar-header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #000;
}
 .navbar-list{ 
    display: flex;
    color: #fff !important;
    cursor: pointer;
}
.navbar-list .active{
    color: #ffbd39 !important;
}
.navbar-list .active::after{
    content: "";
    height: 3px;
    width: 100%;
    background-color: #ffbd39;
    display: block;
    margin-top: 5px;
    border-top-right-radius:5px;
    border-bottom-left-radius: 5px;
    animation: appear .2s linear;
}
@keyframes appear {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.navbar-list a::after{
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background-color: #ffbd39;
    margin-top: 5px;
    border-top-right-radius:5px;
    border-bottom-left-radius: 5px;
}
.navbar-list a:hover::after{
    width: 100%;
    transition: all .5s;
}
li {
    list-style: none;
}
.navbar-list a{
    text-decoration: none;
    color: inherit;
}
.navbar-list li{
    margin-right: 30px;
    padding-left: 10px;
    padding-top: .1rem;
    padding-bottom: .2rem;
    /* padding-right: 10px; */
}
.navbar-header .mode-btn{
    padding: 10px;
    text-transform: capitalize; 
    font-family: inherit;
    font-size: 17px;
    color: white !important;
}
.navbar-header .toggle-btn{
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.mode-btn{
 color: inherit;
 background: inherit;
 display: flex;
 border-radius:50px 20px;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 outline: none;
 transition-delay: 0.01s;
 transform: scale 0.2 ease;
}
.mode-btn:hover,
.mode-btn:focus{
    background: black;
    color: #ffbd39 !important;
    scale: 1.01;
}
.mode-btn:active{
    scale: 1.05;
}
/* ======== Home style ========= */
.home{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.home .slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 55px;
    background-repeat: no-repeat;
    background-position: right 200px top 75px;
    z-index: -1;
    display: none;
    animation: slide 2s ease;
}
.home .second-slide{
    background-position: right 200px top 30px;
}
.home .slide.active{
    display: flex;
}
@keyframes slide{
    0%{
        /* opacity: 0; */
        transform: scale(1.1);
    }
    100%{
        /* opacity: 1; */
        transform: scale(1);
    }
}
.container{
    max-width: 1140px;
    margin: auto;
}
.home .container{
    flex-grow: 1;
    margin-bottom: 30px;
}
.home .caption{
    width: 50%;    
}
.home .caption h1{
    height: auto;
    font-size: 60px;
    font-weight: bolder;
    margin: 0;
}
.home .slide.active .caption h1{ 
    opacity: 0;
    animation: caption-Text .5s ease forwards;
    animation-delay: 1.2s;
}
.home .caption h6{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.home .caption h3{
    letter-spacing: 2px;
    margin-top: 30px;
}
.home .slide.active .caption h3{
    opacity: 0;
    animation: caption-Text .5s ease forwards;
    animation-delay: 1.3s;
}
.home .slide.active .caption h6{ 
    opacity: 0;
    animation: caption-Text .5s ease forwards;
    animation-delay: 1s;
}
.home .caption span,h6{
    color: #ffbd39;
}
.home .caption a{
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    border: 1px none solid;
    border-radius:50px;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    padding: 20px 25px;
    margin: 35px 5px 20px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit; 
    font-weight: 500;
}
.home .slide.active .caption a{ 
    opacity: 0;
    animation: caption-Text .5s ease forwards;
    animation-delay: 1.4s;
}
.home .light{
    background-color: #ffbd39;
    border-color: #ffbd39;
    color: #000;
}
.home .dark{
    border: 1px solid aliceblue;
    background: transparent;
    color: #fff;
}
@keyframes caption-Text{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* .home .controls .prev,
.home .controls .next{
    position: absolute;
    z-index: 2;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #000;
    background-color: #ffbd39;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer;
    transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
    background-color: #fff;
    
} */
.home .controls .prev{
    left: 0;
}
.home .controls .next{
    right: 0;
}
.home .indicator{
   position: absolute;
   left: 50%;
   bottom: 30px;
   z-index: 2;  
   transform: translateX(-50%);
}
.home .indicator div{
    display: inline-block;
    width: 15px;
    background-color: #6d6666;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin: 0 3px;
}
.home .indicator div.active{
    background-color: #fff;
}

/* ======== About Style ========= */
.about{
    margin:30px 30px 0 30px;
    line-height: 1.8;
    height: 150vh;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    position: relative;
}
.about .about-session{
    background: url(images/Ronke-portifolio-img.png);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top 10px left 150px;
    z-index: -1;
    display: flex;
    flex-direction: row-reverse;
    animation: slide 2s ease;
}

.about .about-caption{
    position: relative;
    width: 100%;
    padding: 0 55px;
}

.about .big{
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    font-weight: 900;
    margin-top: 0px;
    /* padding-left: 10px; */
    margin-bottom: 0.5rem;
}
.about .small{
    font-size: 45px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    /* padding-left: 25px; */
}
.about p{
    /* margin-top: -12px; */
    margin-bottom: 1rem;
    /* padding-left: 15px; */
    color: #999;
}
.about-caption > ul{
    margin-top: 10px;
}
.about-caption >ul>li{
    display: flex;
    /* padding-left: 15px; */
    margin-top: 5px;
    width: calc(100% -130px);
}
.about-caption >ul>li > span.value{
    margin-bottom: 15px;
    color: #999;
}
.about-caption >ul>li > span.question{
    height: auto;
    width: 130px;
}
.my-cv{
margin-top: 30px;
}
.my-cv >p>span.number{
    color: #ffbd39;
    font-size: 600;
}
.my-cv > p>span{
    color: #fff;
}

.my-cv a{
    display: inline-block;
    text-decoration: none;
    border: 1px none solid;
    border-radius: 50px;
    letter-spacing: 3px;
    padding: 20px 25px;
    /* margin-left: 15px; */
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit; 
    font-weight: 600;
    color: #000;
    background-color: #ffbd39;
}


/* ======== Resume style ========= */
.detailed-resume{
    margin: 10px 30px;
    position: relative;
}
  
.resume{
    padding: 0 55px;
}
.resume .heading{
    padding: 0 30px;
    padding-bottom: 20px;
    /* margin-right: -19px;
    margin-left: -19px; */
}
.resume .big{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
}
.resume .small{
    position: relative;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 1.5rem;
}
.resume p{
    text-align: center;
}





/* ----------- Media Query ----------- */

/* ======= NAVBAR MEDIA QUERY ======= */
@media (max-width: 1200px) {
    .navbar-list li{
        margin: 0px 10px;
    }
    nav .navbar-header{
        padding: 15px 20px;
    }
    .home .slide{
        padding: 20px 55px;
    }
    .about .about-container{
        
    }
    .about .about-caption{
   
    }
}
@media (max-width: 1100px) {
    .navbar-list li{
        margin: 0px 5px;
    }
    nav .navbar-header{
        padding: 15px 10px;
    }
    .about .about-session{
        background-position: top 10px left 1px;
    }
    .about .about-container{
        width: 450px;
    }
}

@media (max-width: 998px) {
    .navbar-header .toggle-btn{
        display: flex;
        position: absolute;
        top: 1rem;
        right: 60px;
    }
    .navbar-header .navbar-list{
        display: none;
    }
    .navbar-header .navbar-list.open{
        display: flex;
    }
     .navbar-header{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-list,.brand-logo{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 50px;
    } 
    .brand-logo{
        /* padding-top: 20px; */
    } 
     .navbar-list li{
        margin-left: 0;
        padding-left: 0;
        padding-top: 30px;
    }
    .mode-btn{
        width: 80%;
        align-self: flex-start;
        border-top: #ffbd39;
        border-radius: 10px 10px 60px 10px;
    } 
    .navbar-header .mode-btn {
    padding: 10px 0;
    }
    .container{
        margin: 100px auto 0px;
    }
    .home .slide{
        background-position: center top 50px;
        text-align: center;
    }
    .home .caption{
        width: 100%;
    }

    .home .caption h1{
        font-size: 50px;
    }
    .about .about-container{
        width: 450px;
        /* padding: 0 5px 8px 8px; */
    }
}
@media screen and (max-width: 908) {
    .about .about-session{
        display: flex;
        flex: 0 0 100%;
        width: 55%;
        height: 55%;
    }
    .about .about-caption{
        width: 500px;
        margin-left: -250px;
        /* padding-left:88px; */
    }
}
@media screen and (max-width: 768px) {
    .about .about-session{
        background: none;
        flex-direction: row;
        justify-content: center;
    }
    .about .small{
    font-size: 35px;
    }
}
@media (max-width: 400px){
    .home .slide{
        background-position: center top 80px;
        text-align: center;
    }
    .container{
        margin: 100px auto 0px;
    }
    .home .caption h1{
        font-size: 40px;
    }

    .home .caption a{
        font-size: 10px;
        padding: 10px 25px;
        margin: 5px 0px 5px 0px;
    }
}

@media (max-width: 300px) {
    .container{
        margin: 100px auto 0px;
    }
    .home .caption h1{
        font-size: 20px;
    }
    .home .caption a{
        font-size: 8px;
        margin-top: 10px;
    }
}
/* ======= MEDIA QUERY ========== */
@media (max-width: 800px) {
 
}
@media (max-width: 750px) {

}